footer {
	width: 100%;
	/*background: #28324e;*/
	background: rgb(25, 25, 30);
	padding: 2em;
}

footer h1 {
	font-size: 1.5em;
	margin: 1em;
}

footer ul li::before {
	content: "- ";
}

.family-name {
	font-variant: small-caps;
}
