@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('fonts/BLOKKNeue-Regular.eot');
    src: url('fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/BLOKKNeue-Regular.woff') format('woff'),
         url('fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-Oblique.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-BoldOblique.ttf');
    font-weight: bold;
    font-style: italic;
}

body {
	display: flex;
	display: -webkit-flex;
	min-height: 100vh;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.main {
	flex: 1;
	-webkit-flex: 1;
	width: 100%;
	background: #28324e;
	padding: 4vw;
	overflow: hidden;
	font-size: 1.2em;
}

.main h1, .main h2, .main h3, .main h4, .main h5 {
	font-family: "Comfortaa", sans;
	font-weight: lighter;
}

.main h1 {
	font-size: 3.5em;
	margin: .33em 0 2em 0;
	padding-bottom: .3em;
	border-bottom: 5px solid white;
}

.main h2 {
	font-size: 2em;
	margin: 4em 5vw 3em 5vw;
	text-align: center;
	padding-bottom: .3em;
	border-bottom: 5px solid rgb(211, 84, 0);
	border-radius: 5px;
	color: rgb(211, 84, 0);
}

.main h3 {
	font-size: 1.5em;
	margin: 1.5em auto;
	padding-bottom: .4em;
	border-bottom: 2px solid white;
	width: 90%;
	border-bottom: 5px solid rgb(230, 176, 34);
	color: rgb(230, 176, 34);
}

.main h4 {
	border-bottom: 2px solid white;
	font-size: 1.2em;
	padding-bottom: .3em;
	width: 30%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.main h5 {
	margin: 1.8em 0 1em 0;
}

.main .columns {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-items: left;
	-webkit-align-items: left;
	justify-content: left;
	-webkit-justify-content: left;

	margin-top: 5em;
}

.main .column {
	flex: 1;
	-webkit-flex: 1;
	/*min-width: 18em;*/
	min-width: 30em;
}

.main p {
	text-indent: 2em;
	margin: 1vw;
	line-height: 1.2em;
	/*min-width: 30em;*/
	max-width: 35em;
	text-align: justify;
}

.main blockquote {
	text-indent: 2em;
	border-radius: 5px;
	border-left: .7em solid rgba(189, 195, 199,1.0);
	background-color: rgba(189, 195, 199, .5);
	padding: 1em;
	max-width: 50em;
	margin: 1vw;
}

.main blockquote .quote-source {
	text-align: right;
	font-size: .75em;
	margin-top: 1vw;
}

.main blockquote .quote-source::before {
	content: "--";
}

.main ul, .main ol {
	padding-top: 1em;
	padding-left: 5em;
	line-height: 1.5em;
}

.main ul {
	list-style-type: circle;
}

.main ol {
	list-style-type: decimal;
}

.main i {
	font-style: italic;
}

.main sup {
	vertical-align: super;
}

.main dl {
	padding: .5em;
}

.main dt {
	font-weight: bold;
}

.main dt::after {
	content: " :";
}

.main dd {
	padding-left: 2em;
	margin: 1em 0;
}

.main a {
	text-decoration: underline;
}
