nav {
	transition: transform .3s;

	width: 100%;
	/*background: #28324e;*/
	background: rgb(25, 25, 30);
	padding: .5em;
	box-shadow: 0px 5px 1px rgba(0,0,0,0.25);
	position: relative;
}

nav.hidden {
	transform: translate3d(0, -100%, 0);
}

nav ul {
	max-width: 75em;
	margin: 0 auto;
	text-align: center;

	display: flex;
	display: -webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

nav ul li {
	transition: background .3s;

	list-style: none;
	display: inline-block;
	font-weight: bold;
	/*background: #38425e;*/
	background: rgb(40, 40, 45);
	margin: 0 .5em;

	flex: 1;
	-webkit-flex: 1;

	overflow: hidden;
	min-width: 10em;
}

nav ul li:hover {
	background: #48526e;
}

nav ul li a {
	transition: transform .3s;

	display: block;
	position: relative;

	height: 100%;
	width: 100%;

	padding: 1em;

	transform: translate3d(0, 100%, 0);
}

nav ul li:hover a {
	transform: translate3d(0, 0, 0);
}

nav ul li a::before {
	content: attr(data-hover);

	box-sizing: border-box;
	display: block;
	position: absolute;

	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	padding: inherit;

	transform: translate3d(0, -100%, 0);
}
